<main id="dashboard">
  <h2 class="one" id="dashboard-title">{{role}} dashboard. Welcome, {{user.firstName}} {{user.lastName}}!</h2>
  <aside class="two" id="dashboard-menu">
    <ul>
      <a href="/dashboard">
        <li class="dashboard-menu-option">Profile</li>
      </a>
      <a href="/dashboard/settings">
        <li class="dashboard-menu-option">Settings</li>
      </a>
      <li class="dashboard-menu-option"><a class="text-danger" href="/logout">Logout</a></li>
    </ul>
  </aside>
  <div class"three" id="dashboard-section-container">
    {{#if profile}}
    <form action="/profile" method="PUT">
      <div class="form-group">
        <div class="form-sub-group">
          <label for="firstName">First Name <span class="text-danger">*</span></label>
          <input id="first-name" name="firstName" type="text" value="{{user.firstName}}" tabindex="1" />
          <span class="form-error">{{messages.update.firstName}}</span>
        </div>
        <div class="form-sub-group">
          <label for="last-name">Last Name <span class="text-danger">*</span></label>
          <input id="last-name" name="lastName" type="text" value="{{user.lastName}}" tabindex="2" />
          <span class="form-error">{{messages.update.lastName}}</span>
        </div>
      </div><br>
      <div class="form-group">
        <div class="form-sub-group">
          <label for="last-name">Phone Number</label>
          <input id="phone-number" name="phoneNo" type="text" value="{{user.phoneNo}}" tabindex="3" />
          <br></div>
        <div class="form-sub-group">
          <label for="last-name">Address</label>
          <input id="address" name="address" type="text" value="{{user.address}}" tabindex="4" />
          <br></div>
      </div>
      <div id="dashboard-submit-buttons">
        <input class="cancel button rnd solid-button" type="submit" name="cancel" value="Cancel" tabindex="5">
        <input class="submit button rnd solid-button" type="submit" name="submit" value="Update" tabindex="6">
      </div>
    </form>
    {{/if}}
    {{#if setting}}

    {{/if}}
  </div>
</main>