<main id="dashboard">
  <h2 class="one" id="dashboard-title">{{role}} dashboard. Welcome, {{user.firstName}} {{user.lastName}}!</h2>
  <aside class="two" id="dashboard-menu">
    <ul>
      <a href="/dashboard">
        <li class="dashboard-menu-option">Profile</li>
      </a>
      <a href="/dashboard/settings">
        <li class="dashboard-menu-option">Settings</li>
      </a>
      {{#if user.accessLevel}}
      <a href="/dashboard/packages">
        <li class="dashboard-menu-option">Add packages</li>
      </a>
      {{/if}}
      <li class="dashboard-menu-option"><a class="text-danger" href="/logout">Logout</a></li>
    </ul>
  </aside>
  <section class"three" id="dashboard-section-container">
    {{#if profile}}
    <form action="/profile" method="PUT">
      <div class="form-group">
        <div class="form-sub-group">
          <label for="firstName">First Name <span class="text-danger">*</span></label>
          <input id="first-name" name="firstName" type="text" value="{{user.firstName}}" tabindex="1" />
          <span class="form-error">{{messages.update.firstName}}</span>
        </div>
        <div class="form-sub-group">
          <label for="last-name">Last Name <span class="text-danger">*</span></label>
          <input id="last-name" name="lastName" type="text" value="{{user.lastName}}" tabindex="2" />
          <span class="form-error">{{messages.update.lastName}}</span>
        </div>
      </div><br>
      <div class="form-group">
        <div class="form-sub-group">
          <label for="phone-number">Phone Number</label>
          <input id="phone-number" name="phoneNo" type="text" value="{{user.phoneNo}}" tabindex="3" />
          <br></div>
        <div class="form-sub-group">
          <label for="address">Address</label>
          <input id="address" name="address" type="text" value="{{user.address}}" tabindex="4" />
          <br></div>
      </div>
      <div id="dashboard-submit-buttons">
        <input class="cancel button rnd solid-button" type="submit" name="cancel" value="Cancel" tabindex="5">
        <input class="submit button rnd solid-button" type="submit" name="submit" value="Update" tabindex="6">
      </div>
    </form>
    {{/if}}
    {{#if setting}}

    {{/if}}
    {{#if packages}}
    <form id="package-form" action="/dashboard/add-package" method="POST" enctype="multipart/form-data">
      <div class="form-img">
        <label for="photo">Package Photo</label>
        <img src="not-found.png" id='preview-photo' alt="preview image" />
        <input id="photo" type="file" name="photo" tabindex="1" autocomplete="off" />
      </div>
      <div class="form">
        <label for="name">Package Name</label>
        <input id="name" name="name" type="text" tabindex="2" autocomplete="off" />
        <div class="form-group">
          
          <div class="form-sub-group">
            <label for="price">Price</label>
            <input id="price" name="price" type="number" min="0.01" step="0.01" tabindex="3" autocomplete="off" />
          </div>
          <div class="form-sub-group">
            <label for="category">Food Category</label>
            <input id="category" name="category" type="text" tabindex="4" autocomplete="off" />
          </div>
        </div>

        <div class="form-group">
          <div class="form-sub-group">
            <label for="no-of-meals">Number of Meals</label>
            <input id="no-of-meals" name="noOfMeals" type="number" value="1" min="1" tabindex="5" autocomplete="off" />
          </div>
          <div class="form-sub-group">
            <label for="top-package">Top Package</label>
            <input id="top-package" name="topPackage" type="checkbox" tabindex="6" />
          </div>
        </div>

        <label for="desc">Description</label>
        <textarea id="desc" name="desc" rows="4" cols="30" tabindex="7" autocomplete="off"></textarea>


        <div id="dashboard-submit-buttons">
          <input class="submit button rnd solid-button" type="submit" name="submit" value="Add Package" tabindex="8">
        </div>
      </div>
    </form>
    {{/if}}
  </section>
</main>